<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>CustomChatbot</title>
</head>
<body>
    <div class="main_container">

       
         <!-- Sidebar for previous conversations -->
        <div class="sidebar">
            <h2>All Conversations</h2>
            <ul>
                {% for file, data in conversations.items() %}
                <li>
                    <a href="{{ url_for('load_conversation', file_name=file) }}">
                        {{ data.file_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Upload Section -->
        <div class="container">
            <h1>Upload Your File</h1>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="pdf" id="pdf-upload">
                <button type="submit">Upload</button>
            </form>
        </div>

    </div>
</body>
</html>